In [3]:
%matplotlib inline
%config InlineBackend.figure_format='retina'

In [8]:
# Add this to python2 code to make life easier
from __future__ import absolute_import, division, print_function

In [9]:
from itertools import combinations
import string

from IPython.display import IFrame, HTML, YouTubeVideo
import matplotlib as mpl
from matplotlib import pyplot as plt
from matplotlib.pyplot import GridSpec
import seaborn as sns
import mpld3
import numpy as np
# don't do:
# from numpy import *

In [10]:
import pandas as pd
import os, sys
import warnings

sns.set();
plt.rcParams['figure.figsize'] = (12, 8)
sns.set_style("darkgrid")
sns.set_context("poster", font_scale=1.3)

warnings.filterwarnings('ignore')

# Keyboard shortcuts

For help, `ESC` + `h`

In [ ]:
# in select mode, shift j/k (to select multiple cells at once)
# split cell with ctrl shift -

In [ ]:
first = 1

In [ ]:
second = 2

In [ ]:
third = 3

### Different heading levels

With text and $\LaTeX$ support.

You can also get monospaced fonts by indenting 4 spaces:

    mkdir toc
    cd toc

Wrap with triple-backticks and language:

```bash
mkdir toc
cd toc
wget https://repo.continuum.io/miniconda/Miniconda3-latest-MacOSX-x86_64.sh
```

In [11]:
import numpy as np

In [ ]:
np.linspace()

```SQL
SELECT first_name,
       last_name,
       year_of_birth
FROM presidents
WHERE year_of_birth > 1800;
```

In [13]:
!ls

0-Introduction-to-Exploratory-Data-Analysis.ipynb
0-Introduction-to-Jupyter-Notebooks.ipynb
1-Aquastat-Introduction.ipynb
1-Redcard-Dataset.ipynb
2-Aquastat-Missing-Data.ipynb
2-Redcard-Players.ipynb
3-Aquastat-Univariate.ipynb
3-Redcard-Dyads.ipynb
4-Aquastat-TargetxVariable.ipynb
4-Redcard-final-joins.ipynb
5-Aquastat-Multivariate.ipynb
figures
html

In [12]:
%%bash
pwd 
for i in *.ipynb
do
    echo $i | awk -F . '{print $1}'
done

echo
echo "break"
echo

for i in *.ipynb
do
    echo $i | awk -F - '{print $2}'
done

/Users/jonathan/github/pycon-2017-eda-tutorial/notebooks
0-Introduction-to-Exploratory-Data-Analysis
0-Introduction-to-Jupyter-Notebooks
1-Aquastat-Introduction
1-Redcard-Dataset
2-Aquastat-Missing-Data
2-Redcard-Players
3-Aquastat-Univariate
3-Redcard-Dyads
4-Aquastat-TargetxVariable
4-Redcard-final-joins
5-Aquastat-Multivariate

break

Introduction
Introduction
Aquastat
Redcard
Aquastat
Redcard
Aquastat
Redcard
Aquastat
Redcard
Aquastat

# Tab; shift-tab; shift-tab-tab; shift-tab-tab-tab-tab; and more!

In [14]:
def silly_function(xval):
    """Takes a value and returns the value."""
    xval_sq = xval ** 2.0
    1 + 4
    xval_abs = np.sqrt(xval_sq)
    return xval_abs

In [15]:
silly_function?

In [16]:
silly_function??

In [ ]:
silly_function()

In [ ]:
import numpy as np

In [17]:
# This won't work if the underlying function is a ufunc 
np.linspace??

In [ ]:
# Indent/dedent/comment
for _ in range(5):
    df["one"] = 1
    df["two"] = 2
    df["three"] = 3
    df["four"] = 4

## Multicursor magic

In [ ]:
  df["one_better"] = 1.
df["two_better"] = 2.  
df["thre  e_better"] = 3.
df["four_better"] = 4.